*{
  margin: 0;
  padding: 0;
  font-size: 50px;
}
.heading1{
  height: 70vw;
  text-align: center;
}
h1{
  background-color: rgb(218, 15, 15);
  text-align: center;
  padding: 10px;
  position: sticky;
  top: 0;
}
.heading2{
  text-align: center;
  height: 70vw;
}
.heading3{
  height: 70vw;
  text-align: center;
}
p{
  margin: 300px;
}
.icon{
  position: fixed;
  top: 250px;
  width: 50px;
}

footer{
  background-color: tomato;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: ;
}

li{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}